@charset "utf-8";

/* session.blade.php */
.session__table__th{
    font-size:14px;
    font-weight:300;
    color:#666666;
}

.session__table__td{
    font-weight:400;
    color:#333333;
}

.session__table__td__amount{
    font-size:14px;
    font-weight:300;
    color:#666666;
    
}
.session__btn{
    font-size:11px;
    color:#fff;
    background-color:#CC003A;
}

.session__btn__adminupdate{
    font-size:11px;
    color:#fff;
}
.session__btn:hover{
    
    color:#fff;
    background-color:#99002B;
}

.session__btn__update{
    font-size:6px;
    color:#fff;
    background-color:#F4AA03;
    margin-left:2px;
    padding:2px 3px;
    
}

.session__items_count{
    font-size:9px;
    font-weight:200;
    color:#666666;
    
}


/* index.blade.php */
.index__card__form{
    margin:0;
    padding:0;
}

.index__card__container{
    margin:0;
    padding:0;
}

.index__card__row{
    margin:0;
    padding:0;
}

.index__card__col{
    margin:0;
}

.index__card__title__id{
    font-size:12px;
    font-weight:200;
    color:#666666;
}

.index__card__title{
    font-size:14px;
    font-weight:300;
    color:#666666;
}

.index__card__product{
    font-size:17px;
    font-weight:400;
    color:#333333;
}

.index__card__qty__title{
    font-size:12px;
    font-weight:300;
    color:#666666;
}

.index__card__description{
    font-size:11px;
}
.index__card__qty__qty{
    font-size:12px;
    font-weight:300;
    color:#666666;
    height:25px;
}

.index__card__cart{
    font-size:12px;
    font-weight:300;
   
}

.index__btn__right{
    display: block;
    margin: 0 5px 0 auto;
}

.index__btn__right__2{
    display: block;
    margin: 0 15px 0 0;
}

/* navber.blade.php */
.nav__brand{
    font-size:16px;
    font-weight:300;
    color:#666666;
}

.nav__title{
    font-size:14px;
}

.nav__title__out{
    font-size:12px;
}
